<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
xmlns:p="http://www.springframework.org/schema/p"
xmlns:context="http://www.springframework.org/schema/context"
xsi:schemaLocation="http://www.springframework.org/schema/beans
http://www.springframework.org/schema/beans/spring-beans.xsd
http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd">
<context:property-placeholder location="classPath:com/pawana/util/dbdetails.properties"/>
<context:annotation-config/>
<bean id="ds" class="org.springframework.jdbc.datasource.DriverManagerDatasource">
	<property name="driverClass" value="${db.driver}"></property>
	<property name="url" value="${db.url}"></property>
	<property name="user" value="${db.user}"></property>
	<property name="pswd" value="${db.password}"></property>
</bean>
<bean id="jt" class="org.springframework.jdbc.core.JdbcTemplate">
		<property name="dataSource" ref="ds"/>
	</bean>
	 <bean id="dao" class="com.pawana.dao.EmployeeDAOImpl">
		<property name="jt" ref="jt"/>
		
	</bean>
	<bean id="service" class="com.pawana.service.EmployeeServiceImpl">
		<property name="dao" ref="dao"/>
	</bean>
	<bean id="controller" class="com.pawana.controller.EmployeeController">
		<property name="service" ref="service"/>
	</bean>
	
	<context:component-scan base-package="com.pawana.*"/>
</beans>